{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>Вы действительно хотите удалить продукт {{ post.title }}?</h1>

    <form method="post" action="{{ url('product', {'action': 'delete', 'id': product.id}) }}">
        {{ forms.input('id', product.id, 'hidden') }}
        {{ forms.input('del', 'Yes', 'submit') }}
        {{ forms.input('del', 'No', 'submit') }}
    </form>
{% endblock content %}