{% extends 'layout/layout.twig' %}

{% block content %}

    <a href="{{ url('product', {'action': 'add'}) }}">Добавить продукт</a>

    <ul>
        {% for product in products %}
            <li>
                <a href="{{ url('product', {'action': 'view', 'id': product.id}) }}">{{ product.title|e }}</a>
                <a href="{{ url('product', {'action': 'edit', 'id': product.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{{ url('product', {'action': 'delete', 'id': product.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}