{% extends 'layout/layout.twig' %}

{% block content %}
    <h1>{{ product.title }}</h1>
    <div class="desc">{{ product.description }}</div>
    <div class="price">Цена - {{ product.price }}</div>
    <a href="{{ url('product') }}">Все продукты</a>
{% endblock content %}