{% macro input(name, value, type, label, size, messages) %}
    {% if type != 'hidden' %}
        <div class="form-group form-element-{{ name }}{% if messages|length > 0 %} has-error{% endif %}">
    {% endif %}

    {% if label %}
        <label for="">{{ label }}</label>
    {% endif %}

    {% if type == 'textarea' %}
        <textarea name="{{ name }}"
                  class="form-control"
                  size="{{ size|default(20) }}"
                  {% if messages|length > 0 %}class="error"{% endif %}/>{{ value|e }}</textarea>
    {% elseif type == 'checkbox' %}
        <input type="{{ type }}"
               name="{{ name }}"
               value="1"{% if value == true %} checked="checked"{% endif %} {% if messages|length > 0 %}class="error"{% endif %}/>
    {% else %}
        <input type="{{ type|default('text') }}"
               class="{% if type == 'submit' %} btn btn-primary {% else %} form-control {% endif %}"
               name="{{ name }}"
               value="{{ value|e }}"
               size="{{ size|default(20) }}"/>
    {% endif %}

    {% if messages|length > 0 %}
        <p class="help-block">
            {% for m in messages %}
                {{ m }}<br>
            {% endfor %}
        </p>
    {% endif %}

    {% if type != 'hidden' %}
        </div>
    {% endif %}

{% endmacro %}